@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {
    .slider-form-content {
        margin-top: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .slider-form-content {
        margin-top: 20px;
    }
    .header-socials li:first-child {
        border-left: none;

    }
    .header-socials li:last-child {
        border-right: none;

    }
    .top-menu .col-md-6.text-right .widget_shopping_cart_content {
        border: none;

    }
    .top-menu .top-right.list-language{
        border-right: none;
    }
    .top-right > li{
        border-right: none;
    }
    .top-banner .col-md-2.phone{
        margin-top: 0;
    }
    .top-info .top-map-marker-icon{
        height: 30px;
    }
    .top-banner .col-md-3{
        margin-top: 0;
        border-right: none;
    }
    .top-banner .col-md-3 {
        border-right: 1px solid #c9c9c9;
        height: 40px;
        line-height: 30px;
        margin-top: 8px;
    }

}
@media (max-width: 980px) {
    .top-menu .container .col-sm-7.text-right{
        padding-right: 0;
    }
    .header-socials li:first-child{
        padding-left: 0;
    }
    .top-banner .col-md-3 {
        border-right: none!important;
    }
    .container.sanpham {
        margin-bottom: 0;
        margin-top: 0;
    }
    .submit .sidebar{
        padding-left: 0;
    }
    .sanpham .products{
        margin-top: 35px;
    }
    .client ul li.last{
        border-bottom: 1px solid #cecece;
    }
    .client ul li:nth-child(4n){
        border-right: 1px solid #cecece;
    }
    .client ul li:nth-child(3n){
        border-right: none;
    }
    .client ul li.last:last-child{
        border-right: 0;
    }
    .container.form{
        margin-top: 0;
    }
    .ul-widget-info .pr-img a img {
        height: auto;
        width: 100%;
        min-height: 200px;
    }
    .ul-widget-products .pr-img img {
        width: 100%;
       height: 200px;
    }
    .footer-info .footer-info-text{
        height: 80px;
        padding: 12px 0;
    }
    .container.footer-info .col-md-4{
        margin-bottom: 20px;
    }
    .bot-cart.row >ul li:nth-child(4n){
        margin-right: 0;
    }
    .bot-cart.row >ul{
        padding-left: 0;
    }
    .active span.name{
        position: relative;
        top: 10px;
    }
    li.active .img-active {
        display: block;
        float: left;
    }
}
@media (max-width: 800px) {
    .footer-menu ul li{
        margin-bottom: 10px;
    }
    #sidebar .widget {
        margin-bottom: 0!important;
    }
    #sidebar{
        margin-top: 30px;
    }
}
@media (max-width: 768px) {
    .slider-form-content {
        margin-top: 20px;
    }
    .h3.slider-title-2 {
        font-size: 29pt;
    }
    .list-home-products > li {
        float: left;
        text-align: center;
        width: 20%;
    }
    .top-menu .header-socials{
        text-align: center;
    }
    .header-socials li:first-child {
        border-left: none;

    }
    .header-socials li:last-child {
        border-right: none;

    }
    .top-menu .col-md-6.text-right{
        text-align: center;
    }
    .top-menu .col-md-6.text-right .widget_shopping_cart_content {
        border: none;

    }
    .top-menu .top-right.list-language{
        border-right: none;
    }
    .top-right > li{
        border-right: none;
    }
    .vc_row .wpb_text_column .wpb_wrapper{
        margin-top: 20px;
    }
    .top-banner .col-md-2.phone{
        margin-top: 0;
    }
    .top-info .top-map-marker-icon{
        height: 30px;
    }
    .top-banner .col-md-3{
        margin-top: 0;
        border-right: none;
    }
    .top-banner .col-md-3 {
        border-right: 1px solid #c9c9c9;
        height: 40px;
        line-height: 30px;
        margin-top: 8px;
    }
    .top-banner{
        min-height: inherit;
    }
    .top-banner img{
        height: auto;
        max-width: 100%;
    }
}


@media (max-width: 640px) {
    .header-socials li:first-child{
        padding-left: 20px;
    }
    .client ul li{
        text-align: center;
        border-right: none;
    }
    .client ul{
        padding-left: 0px;
    }
    .client ul li:last-child{
        border-bottom: none;
        border-right: 1px solid #cecece;
    }
    .client ul li:nth-child(3n){
        border-right: 1px solid #cecece;
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        background-color: #ffffff;
        border-radius: 1px;
    }
    .slider-content #carousel-example-generic{
        display: none;
    }
    .footer-black .text-center p{
        line-height: 20px;
        margin-bottom: 17px;
    }
    .breadcrumbs .p-breadcrumb {
        padding-left: 0;
        text-align: center;
    }
    .tintuc .row .col-lg-6{
        margin-bottom: 20px;
    }
    .tab-content.news-recent .row .col-lg-3{
        margin-bottom: 20px;
    }
    #main .tintuc-share{
        margin: 10px 0;
    }
    .submit .col-lg-6 #sidebar{
        margin-bottom: -1px;
    }
    .form .form-lienhe input.submit {
        width: 30%;
    }
    .bot-cart.row ul li {
        width: 50%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .bot-cart.row ul li {
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 10px;
    }
    .ul-widget-info .pr-img a img {
        height: auto;
        width: 100%;
        min-height: 100px;
    }
    .ul-widget-products .pr-img img {
        width: 100%;
        height: 100px;
    }

    .submit #sidebar {
        margin-bottom: 0;
    }
    .tintuc .news-recent p.img img{
        width: 100%;
    }
    .breadcrumbs p,
    .breadcrumbs h1{
        margin-left: 0px;
    }
    .container.tintuc .top-banner-tintuc img {
       max-height: 50px;
    }
    .shop_table.cart thead th.product-thumbnail,
    .shop_table.cart thead th.img{
        display: none!important;
    }
    .shop_table.cart tbody td.sst,
    .shop_table.cart tbody td.product-thumbnail{
        display: none!important;
    }
    .woocommerce table.shop_table td {
        padding: 6px 7px;
        vertical-align: middle;
    }
    .woocommerce table.shop_table th {
        font-weight: 700;
        padding: 9px 7px;
    }
}
@media (max-width: 360px) {
    .active span.name {
        position: relative;
        top: 0;
    }
    .header-cart-content .buttons a{
        float: none;
        margin-left: 39px;
        margin-right: 39px;
    }
    .header-cart-content {
        width: 340px;
        min-width: 340px;
        left:-4px;
    }

    .form .form-lienhe input.submit {
        width: 40%;
    }
    .list-home-products > li {
        width: 33.33%;
    }
    .top-banner .col-md-2.phone {
        margin-top: 16px;
    }
    .search-form .nav.nav-tabs li {
        width: 100%;
    }
    .search-form .nav.nav-tabs li a .name{
        line-height: 44px;
    }
    .search-form .nav.nav-tabs li a span.img-active{
        float: left;
    }
    .search-form .nav.nav-tabs li a{
        width: 100%;
    }
    .support-button {
        margin-left: 10px;
    }
    .heading-title {
        height: auto;
        border-radius: 0px;
    }
     .heading-title .nav li a{
        width: 100%;
    }
    .heading-title .nav li{
        width: 100%;
    }
    .heading-title ul li a::before {
        border-left: 0;
        border-top: 0;
        content: "";
        left: 0;
    }
    .dathang button.button, .button {
        padding: 12px 52px 10px 16px !important;
        margin-bottom: 20px;
    }
    .dathang .cart .support-button{
        display: block;
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }
    .dathang .cart{
        text-align: center;
    }
    .name-attr img {
        margin-left: 0;
    }
    .name-attr span{
    }
    #tab-hieu-suat .col-lg-3 {
        padding-right: 0;
    }
    .submit div.text {
        color: #ffffff;
        font-size: 14px;
        padding-bottom: 27px;
        padding-top: 28px;
    }
    .heading-title.tintuc-title{
        border: none;
    }
    .heading-title ul li a{
        border: 1px solid #e30013!important;
    }
    .tintuc-title ul li.active a::before {
        border-top: none;
    }
    .tintuc-title ul li a::before {
        border-left:none;
        border-top: none;
        content: "";
        left:0;
        position: absolute;
        z-index: 999;
    }
    .tintuc-title ul li a::after {
        border-bottom: 0;
        border-right: 0;
        content: "";
        position: absolute;
        z-index: 999;
    }
    .tintuc-title ul li a::before {
        border-left: 0;
        border-top: 0;
        content: "";
        left: 0;
        position: absolute;
        z-index: 999;
    }
    .tintuc-title ul li.active a::before {
        border-top: 0;
    }
    .tintuc-title ul li::before {
        border-left: 0;
        border-top: 0;
        content: "";
        left: 0;
        position: absolute;
    }
    .tintuc-title ul li::after {
        border-bottom: 0;
        border-right: 0;
        content: "";
        position: absolute;
        right: 0;
    }
    .heading-title .nav li {
        margin-left: 2px;
        width: 99%;
    }
    .header-cart-content .mini_cart_item a.remove {
        color: red;
        font-size: 20px;
        height: 20px;
        margin-left: -1px;
        margin-right: 28px;
        margin-top: 0;
        width: 20px;
    }
}
@media (max-width: 320px) {
    .header-cart-content {
        width: 300px;
        min-width: 300px;
        left:-4px;
    }
    .top-search-form-title {
        font-size: 13pt;
    }
    .list-home-products > li {
        width: 49.33%;
    }
}

