/*
Theme Name: ACJ INDOCHINE
Theme URI: https://allbestforyou.net
Author: Hien (Hamilton) H.HO
Author URI: https://allbestforyou.net
Version: 1.0.0
Tags: red, white, black, yellow, blue, two-columns, left-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: acj
*/

body{
    font-family: 'Roboto';
}
.clear{
    clear: both;
}
img{
    max-width: 100%;
}
/*============================ HEADER ============================*/
.top-menu {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    min-height: 60px;
}
.top-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.header-socials li {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
}
.header-socials li:first-child{
    border-left: 1px solid #FFF;
    padding-left: 20px;
}
.header-socials li:last-child{
    border-right: 1px solid #FFF;
    padding-right: 20px;
}
.header-socials li a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 20px;
    padding: 5px;
    text-align: center;
    width: 30px;
}
.header-socials li a:hover{
    background-color: #2187e4;
    border: 1px solid #2187e4;
}
.top-right{
    display: inline-block;
}
.top-right > li {
    border-right: 1px solid #fff;
    display: inline-block;
    height: 58px;
    line-height: 60px;
    padding: 0 10px;
    position: relative;
}
.top-menu .col-md-6.text-right .widget_shopping_cart_content {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    display: inline-block;
}
.top-menu .col-md-6.text-right{
    position: relative;
}
.header-cart-content {
    background-color: #FFFFFF;
    border: 2px solid #e30013;
    padding: 10px;
    position: absolute;
    right: 16px;
    top: 60px;
    z-index: 999999;
    min-width: 400px;
    display: none;
}
.header-cart-content li{
    color: #000;
}
.header-cart-content .mini_cart_item .wp-post-image{
    float: right;
    height: auto;
    margin-left: 4px;
    width: 32px;
}
.top-right.list-language li ul a{
    color: #000;
}
.top-right.list-language li ul{
    border: 1px solid #e30013;
    background-color: #FFFFFF;
}
.widget_shopping_cart_content:hover .header-cart-content{
    display: block;
}
.cart-number {
    color: red;
    font-size: 14pt;
    font-weight: bold;
}
.language-title {
    display: inline-block;
}
.current-language {
    display: inline-block;
    margin-left: 8px;
    margin-right: 10px;
}
.current-language-image {
    margin-right: 8px;
}
.top-right.list-language ul {
    background: #fad000;
    position: absolute;
    left: -4px;
    top: 58px;
    width: 214px;
    z-index: 1;
    display: none;
}
.other-language-title {
    display: inline-block;
}
.top-right.list-language ul li {
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    text-align: left;
}
.top-right.list-language ul li:hover{
    background-color: #d8b402;
}
.top-right.list-language li:hover ul{
    display: block;
}
.other-language > a {
    display: block;
    color: #fff;
    text-decoration: none;
}
/* TOP BANNER */
.top-banner {
    min-height: 100px;
}
a.logo {
    display: block;
    margin-top: 25px;
}
.site-title {
    font-size: 14pt;
    margin: 0;
    margin-top: 25px;
    font-weight: 600;
    padding: 0;
    color: #e50013;
}
.site-description {
    font-size: 11pt;
}
.top-banner .col-md-3 {
    border-right: 1px solid #c9c9c9;
    height: 60px;
    line-height: 30px;
    margin-top: 20px;
}
p.top-info{
    font-size: 14px;
}
.top-map-marker-icon {
    background: url("assets/images/map-marker-icon.png") no-repeat;
    display: inline-block;
    float: left;
    height: 70px;
    width: 16px;
    margin-right: 15px;
    margin-top: 7px;
}
.top-banner .col-md-2.phone {
    margin-top: 20px;
}
.top-phone-icon {
    background: url("assets/images/phone-icon.png") no-repeat;
    display: inline-block;
    float: left;
    height: 70px;
    width: 19px;
    margin-top: 7px;
    margin-right: 15px;
}
.top-hotline {
    color: #e50013;
    font-size: 15pt;
}
/* MENU */
nav.navbar.navbar-custom {
    background: #e50013;
    border: medium none;
    border-radius: 0;
    min-height: 60px;
    margin-bottom: 0;
}
nav.navbar.navbar-custom ul li{
    margin-right: 1px;
}
nav.navbar.navbar-custom ul li.current-menu-item,
nav.navbar.navbar-custom ul li.current_page_parent,
nav.navbar.navbar-custom ul li:hover{
    background-color: #000;
}
nav.navbar.navbar-custom ul li.current-menu-item a span,
nav.navbar.navbar-custom ul li.current_page_parent a span,
nav.navbar.navbar-custom ul li:hover a span{
    border-bottom: 2px solid #e50013;
    padding-bottom: 3px;
}
nav.navbar.navbar-custom ul li a {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    height: 60px;
    display: block;
    line-height: 60px;
    padding: 0 20px;
}
nav.navbar.navbar-custom ul li a:hover,
nav.navbar.navbar-custom ul li a:visited,
nav.navbar.navbar-custom ul li a:active{
    color: #FFF;
    background-color: #000;
}
/* SLIDER */
#slider{
    position: relative;
}
.slider-caption {
    color: #fff;
    font-size: 24pt;
    left: 0;
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 999;
}
.slider-left {
    background: rgba(0, 0, 0, 0) url("assets/images/caption-tile-left.png") no-repeat;
    display: block;
    float: left;
    height: 41px;
    width: 13px;
}
.slider-right {
    background: rgba(0, 0, 0, 0) url("assets/images/caption-tile-right.png") no-repeat;
    display: block;
    float: left;
    height: 41px;
    width: 14px;
}
.slider-text {
    margin: 0 15px;
    text-shadow: 0 10px 10px #000;
    float: left;
    font-size: 28pt;
}
h2.slider-title {
    height: 41px;
    line-height: 41px;
    padding: 0;
    margin-bottom: 20px;
}
h3.slider-title-2 {
    font-size: 36pt;
    text-shadow: 0 10px 10px #000;
}
h4.slider-title-3 {
    font-size: 24pt;
    text-shadow: 0 10px 10px #000;
}
#slider .btn.btn-slider {
    border: 2px solid #a81b22;
    border-radius: 30px;
    color: #fff;
    font-size: 18pt;
    font-weight: 600;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    display: inline-block;
}
#search-by-size .select-parent {
    padding: 20px 10px;
}
#search-by-size .select-parent input{
    margin-top: 20px;
}
.btn.btn-slider:hover{
    background-color: #a81b22;
}
.carousel-indicators {
    bottom: 10px;
    left: 0;
    list-style: outside none none;
    margin-left: 0;
    padding-left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 15;
}
.carousel-indicators .active {
    height: 100px;
    width: 100px;
    background-color: transparent;
}
.carousel-indicators li {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 75px;
    text-indent: 0;
    width: 75px;
    float: left;
    margin-top: 12px;
    margin-right: 35px !important;
    overflow: hidden;
    box-shadow: 3px 1px 6px #333;
    border-radius: 50%;
}
.carousel-indicators li img {
    width: 100%;
    height: 100%;
    padding: 3px;
    border-radius: 50%;
    background-color: #FFF;
}
/* SEARCH FORM */
.slider-form {
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999;
}
.slider-form-content {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    border-radius: 7px;
    margin-top: -540px;
    padding: 15px;
}
.top-search-form-title {
    background: #fff none repeat scroll 0 0;
    border-radius: 7px 7px 0 0;
    font-size: 18pt;
    font-weight: 600;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.top-search-form-tabs {
    margin: 3px 0;
    width: 100%;
}
.tab-item {
    background: #fff none repeat scroll 0 0;
    float: left;
    font-size: 13pt;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    width: 49.5%;
    cursor: pointer;
}
.tab-item:nth-child(2n+2){
    float: right;
}
.tab-item.active {
    background: #d91d26;
    color: #fff;
}
.list-sub-tabs {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}
.list-sub-tabs > li {
    float: left;
    text-align: center;
    width: 33.3333%;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
.list-sub-tabs li.active{
    color: #d91d26;
}
.list-sub-tabs > li p{
    margin-top: 10px;
}
.form-search-content {
    background: #fff none repeat scroll 0 0;
    border-radius: 0 0 7px 7px;
    padding-bottom: 15px;
    display: none;
}
.form-search-content.active,.form-search-content#search-for-type{
    display: block;
}
.form-input {
    margin: 0 auto;
    width: 90%;
}
.form-search-content select {
    border-radius: 31px;
    background: #fff url("assets/images/select-arrow.png") no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form-search-content input {
    border: medium none;
    border-radius: 31px;
    color: #fff;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 50px;
    text-align: center;
    text-transform: uppercase;
    background: #d91d26 url("assets/images/search-button-icon.png") no-repeat 90% 50%;
}
/* HOME PAGE */
.col-md-12.home-services {
    margin-top: 50px;
}
.heading-title {
    border-bottom: 1px solid #d91d26;
    border-left: 1px solid #d91d26;
    border-radius: 31px 0 0 31px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
}
.heading-title > h3 {
    background: #d91d26;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 20px;
    text-transform: uppercase;
    position: relative;
}
.heading-title > h3::after {
    border-top: 40px solid transparent;
    border-left: 20px solid #d91d26;
    position: absolute;
    right: -20px;
    top: 0;
    content: " ";
}
.service-image {
    float: left;
    height: 90px;
    width: 20%;
}
.list-home-products {
    list-style: none;
    margin: 30px 0;
    padding: 0;
}
.list-home-products > li {
    float: left;
    text-align: center;
    width: 10%;
}
.list-home-products li a {
    color: #000;
    display: block;
    font-size: 10pt;
    font-weight: 600;
    margin: 5px 0;
    text-transform: uppercase;
}
.list-home-products li a img {
    max-width: 90%;
}
.row.product-items {
    margin-top: 20px;
}
.product-img {
    background: url("assets/images/product-bg-arrow.png") 50% 98% no-repeat;
    border-bottom: 1px solid #c9c9c9;
    height: 195px;
    overflow: hidden;
}
.product-description > h4 {
    font-weight: bold;
    margin-bottom: 15px;

}
/* SIDEBAR */
#sidebar .widget{
    margin-bottom: 40px;
}
.ul-widget-products {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.ul-widget-products > li {
    border-bottom: 1px solid #c9c9c9;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.pr-img {
    float: left;
    margin-right: 1%;
    width: 28%;
}
.pr-des {
    float: right;
    width: 69%;
}
.pr-des a {
    color: #000;
    font-size: 10pt;
}
.pr-des a.widget-price-button {
    background: #d91d26;
    border-radius: 31px;
    color: #fff;
    font-weight: bold;
    padding: 10px 30px;
}
/* FOOTER */
.footer-black {
    background: #000 none repeat scroll 0 0;
    color: #FFF;
}
.footer-info-icon {
    float: left;
    margin-right: 20px;
    width: 81px;
}
.footer-info-text > h4 {
    font-size: 14pt;
    font-weight: bold;
    text-transform: uppercase;
}
.footer-black .container{
    line-height: 100%;
}
.container.footer-info{
    padding: 20px 0;
}
.footer-widget .widget-title {
    border-bottom: 1px solid #c9c9c9;
    font-size: 12pt;
    font-weight: bold;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.widget-title::before {
    background: #2187e4;
    bottom: -1px;
    content: " ";
    height: 2px;
    left: 0;
    position: absolute;
    width: 25%;
}
.footer-menu > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-menu ul li {
    display: inline-block;
}
.footer-menu ul li a{
    position: relative;
    padding: 0 10px;
    color: #FFF;
}
.footer-menu ul li a::after {
    content: "|";
    position: absolute;
    right: 0;
}
.footer-menu ul li:last-child a::after {
    content: "";
    position: absolute;
    right: 0;
}
.footer-black .container.text-center {
    padding: 20px 0;
}
.footer-red {
    background: #d91d26;
    height: 10px;
    position: relative;
}
.footer-red::after{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    content: " ";
    height: 4px;
    background-color: #FFF;
    opacity: 0.6;
}
/* gioi thieu*/
.ul-widget-info li{
    list-style: none;
}
.ul-widget-info > li {
    border-bottom: 1px solid #c9c9c9;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.ul-widget-info {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.ul-widget-info .pr-des {
    float: right;
    width: 54%;
}
.ul-widget-info .pr-img {
    width:40%;
}
.ul-widget-info .pr-des >a {
    color: #d13a48;
}
.ul-widget-info .pr-des p:first-child {
    margin-top: -3px;
}
.ul-widget-info .pr-des p {
    line-height: 15px;
    margin-bottom: 7px;
}
.ul-widget-info .pr-des p a {
    font-size: 14px;
    font-weight: bold;
}
.widget.tintuc .heading-title{
    margin-bottom: 30px;
}
.pr-des .read-more{
    color: #d91d26;
}
.top-banner-tintuc .date::after{

    border-left: 20px solid #d91d26;
    border-top: 40px solid transparent;
    content: " ";
    position: absolute;
    right: -20px;
    top: 0;
}
.top-banner-tintuc .date p{
    line-height: 38px;
    padding: 0 3px 0 20px;
    color: #ffffff;
}
.top-banner-tintuc .date{
    position: absolute;
    z-index: 9999;
    display: inline-block;
    background-color: #d91d26;
    height: 40px;
    top: 1px;
}
.top-banner-tintuc{
    position: relative;
}
.container.tintuc{
    margin-top: 40px;
}
.container.tintuc h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.author p.device{
    display: inline-block;
    background-image: url("assets/images/icon-device.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 25px;
    margin-left: 30px;
}
.author p.author::before{
    background: #e63a48 none repeat scroll 0 0;
    top: -1px;
    content: " ";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}
.author p.author{
    position: relative;
    display: inline-block;
    float: left;
    background-image: url("assets/images/icon-author.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;

}
div.author p{
    line-height: 35px;

}
div.author{
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    float: left;
    height: 40px;
    width: 100%;
}
.tintuc-share {
    background-color:#000000 ;
    margin: 50px 0px;
}
.tintuc-share ul li{
    list-style: none;
    display: inline-block;
    height: 40px;
    margin-top: -10px;
}
.tintuc-share ul li p{
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    line-height: 38px;
    margin-bottom: 0px;
}
.tintuc-share ul li a{
    width: 25px;
    height: 25px;
}
.tintuc-share ul li:first-child{
    padding-left:0 ;
    padding-right: 5px;
    margin-top: 0;
}
.tintuc-share img{
    margin-top: 0px;
}
.tintuc-share ul{
    height: 40px;
    margin-bottom: 0;
}
.tintuc-share li{
    padding: 0 10px;
}
.tintuc-share{
    height: 40px;
    position: relative;
    width: 94%;
    margin-left: 20px;
}
.tintuc-share::after{
    border-left: 20px solid #000000;
    border-top: 40px solid transparent;
    content: " ";
    position: absolute;
    right: -20px;
    top: 0;
}
.tintuc-share::before{
    border-right: 20px solid #000000;
    border-bottom: 40px solid transparent;
    content: " ";
    position: absolute;
    left: -20px;
    top: 0;

}
.news-recent a.title{
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
}
.read-more span{
    font-size: 11px;
}
.read-more{
    color: #d71d26;
    font-size: 14px;
}
#sidebar #search{
    padding: 5px 25px;
    border: 2px solid #e3e3e3;
    border-radius: 3px;
}
#sidebar .search button{
    background-color: #e30013;
    border: medium none;
    color: #fff;
    margin-left: -5px;
    padding: 7px 9px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

}
.news-recent p.out-title::before{
    background: #d03a48 none repeat scroll 0 0;
    bottom: -1px;
    content: " ";
    height: 2px;
    left: 0;
    position: absolute;
    width: 25%;
}

.news-recent p.out-title{
    border-bottom: 1px solid #c9c9c9;
    font-size: 12pt;
    font-weight: bold;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.breadcrumbs {
    padding: 10px 0;
    min-height: 60px;
    background-color: #000;
}
.breadcrumbs p{
    color: #fff;
    margin-left: 40px;
    margin-bottom: 5px;
}
.breadcrumbs h3, .breadcrumbs h1 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-left: 40px;
    margin-top: 0;
    text-transform: uppercase;
}
ol.breadcrumb a{
    color: #337ab7;
    text-decoration: none;
    font-size: 23px;
    line-height: 39px;
}
ol.breadcrumb li a{
    color: #ffffff;
}
ol.breadcrumb li:last-child a{
    color: #e30013;
}
ol.breadcrumb {
    float: right;
    background-color: #000;
    height: 51px;
    padding: 0 15px;
    margin-bottom: 0;
}
.tab-content .img{
    height: 200px;
}
.tab-content .title{
    color: #000000;
    font-weight: bold;
}
.tab-content .read-more{
    text-transform: uppercase;
}
.news-recents .nav.nav-tabs li.active a{
    background: #d91d26 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;
}
.news-recents .nav.nav-tabs li.active a::after{
    border-left: 20px solid #d91d26;
    border-top: 40px solid transparent;
    content: " ";
    position: absolute;
    right: -20px;
    top: 0;
}
.nav.nav-tabs li{
    background-color: #ffffff;
    margin-left: -1px;
}
.pagination  li.page-item.active a,
.pagination  li.page-item.active a:focus,
.pagination  li.page-item.active a:hover{
    background-color: #e30013!important;
    border: 1px solid #e30013!important;
}
#main p{
    font-size: 12px;
}
#main h4{
    margin-top: 0;
    font-size: 16px;
    text-transform: uppercase;
}
.welcome .heading-title{
    margin: 30px 0;
}
.welcome .heading-title > h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
}
.welcome #sidebar{
    margin-top: 32px;

}
.description p{
    padding: 0 15px;
}
.phuongcham a img{
    margin-right: 15px;
}
.phuongcham .tab-content h3{
    margin-top: 0;
    color: #e30013;
}
.phuongcham .nav-tabs .active a:hover,
.phuongcham .nav-tabs .active a:focus,
.phuongcham .nav-tabs .active a{
    background-color: #d91d26!important;
    color: #ffffff;
    text-transform: uppercase;
}
.phuongcham .nav-tabs li a,
.phuongcham .nav-tabs li {
    margin: 0!important;
}
.phuongcham .nav-tabs li a{
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}
.phuongcham ul{
    border: 1px solid #cccccc;
}
.phuongcham .nav-tabs li a{
    border-bottom: 1px solid #cccccc;
}
.welcome .description{
    margin-bottom: 45px;
}
.phuongcham {
    margin-bottom: 30px;
}
.container >.welcome{
    margin-top: 20px;
}
.dichvu .thumbnail{
    padding: 0!important;

}
.dichvu .thumbnail .icon{
    position: absolute;
    right: 20px;
    top: -45px;
}
.dichvu .caption{
    position: relative;
}
.dichvu .thumbnail img{
    padding: 0!important;
}
.dichvu a h3{
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.dichvu .thumbnail:hover + .thumbnail,
.dichvu .thumbnail:focus + .thumbnail{
    border: 2px solid #d23a49!important;
}
.container.dichvu{
    margin-top: 50px;
    margin-bottom: 40px;
}
.container.dichvu .row >div{
    margin-bottom: 1px;
}
.dichvu .thumbnail .caption a{text-decoration: none;}
.dichvu .thumbnail .caption h3{
    padding: 2px 10px;
    border-left: 3px solid #d91d26;
    text-decoration: none;
}
.dichvu .thumbnail .caption .read-more{
    padding: 10px;
    color: #d23a49;
    text-transform: uppercase;
    font-weight: unset;
}
.dichvu .thumbnail .caption p{
    padding: 10px;
    margin-bottom: 0;
}
.dichvu .thumbnail .caption {
    color: #333;
    padding: 0;
}
.container.dichvuchitiet{
    margin-top: 20px;
    margin-bottom: 20px;
}
.dichvuchitiet .row .col-lg-3 .title{
    color:#ffffff;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 12px;
    font-weight: bold;
    margin-bottom: 20px;
}
.dichvuchitiet .row .col-lg-3 li{
    padding: 5px 0;
    background-color:#e50013 ;
}
.dichvuchitiet .row .col-lg-3 li,
.dichvuchitiet .row .col-lg-3 li a{
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;

}
.dichvuchitiet .row .all-service{
    background-color: #e50013;
    padding: 15px;
}
.dichvuchitiet .col-lg-3 .widget_text{
    padding: 15px;
}
.dichvuchitiet .nav-tabs > li.active > a, .dichvuchitiet .nav-tabs > li.active > a:focus, .dichvuchitiet .nav-tabs > li.active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-style: solid;
    cursor: default;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid #fff;
    background-color:#e50013 ;
}
.dichvuchitiet .nav.nav-tabs li.active >a:after{
    position: absolute;
    background-image: url("assets/images/icon-arrow-right.png");
    background-repeat: no-repeat;
    content: "";
    right: 0;
    top: 15px;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.dichvuchitiet .nav.nav-tabs li,
.dichvuchitiet .nav.nav-tabs li a{
    background-color:#e50013 ;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;

}
.dichvuchitiet .nav.nav-tabs li.active >a{
    position: relative;
}
.tab-content  .description{
    margin-top: 20px;
    font-size: 13px;
}
.dichvuchitiet .tab-content  .detail h3{
    color: #000000;
    border-bottom: 2px solid #f17f89 ;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}
.dichvuchitiet .tab-content .detail span{
    padding-right: 10px;
    color: #d9263b;
}
.dichvuchitiet .tab-content .detail h4{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.dichvuchitiet .address{
    background-color: #fff;
    margin:-15px;
    padding: 0 21px;
}
.container.dichvuchitiet{
    margin-top: 40px;
    margin-bottom: 40px;
}
.container.dichvuchitiet .nav-tabs{
    border-bottom: none;
}
.container.khachhang{
    margin-top: 40px;
    margin-bottom: 40px;
}
.khachhang .des{
    margin: 30px 0;
}

.client ul li{
    list-style: none!important;
    border-bottom: 1px solid #cecece;
    border-right: 1px solid #cecece;
}
.client ul li:nth-child(4n){
    border-right: none;
}
.client ul li img{
    width: 271px;
    height: 162px;
}
.client ul li.last{
    border-bottom: none;
}
.panel-title a.collapsed{
    background-image: url("assets/images/expand.png");
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 25px;
    height: 40px;
    padding-left: 44px;
    padding-top: 10px;
    width: 40px;
}
.panel-title a{
    background-image: url("assets/images/collapse.png");
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 25px;
    height: 40px;
    padding-left: 44px;
    padding-top: 10px;
    width: 40px;
}
.container.tuyendung .panel-title{
    height: 40px;
}
.container.tuyendung{
    margin-top: 40px;
}
a{
    outline:none!important;
}

.tintuc-title ul li{
    position: relative;
    margin: 0 23px;
}
.tintuc-title ul li:before{
    border-left: 20px solid transparent;
    border-top: 40px solid #d91d26;
    content: "";
    left: -20px;
    position: absolute;
}
.tintuc-title ul li:after{
    border-bottom: 40px solid #d91d26;
    border-right: 20px solid transparent;
    content: "";
    position: absolute;
    right: -20px;
}
.tintuc-title ul li:hover a{
    border: 1px solid #d91d26;
}
.tintuc-title ul li:hover a:after{
    border-bottom: 40px solid #d91d26;
}
.tintuc-title ul li:hover a:before{
    border-top: 40px solid #d91d26;
}
.tintuc-title ul li.active a,
.tintuc-title ul li.active a:hover,
.tintuc-title ul li.active a:focus,
.tintuc-title ul li.active a:active{
    background-color:#d91d26 ;
    color: #ffffff;
    border: 1px solid #d91d26;
}
.tintuc-title ul li.active a:before{
    border-top: 40px solid #d91d26;
}
.tintuc-title ul li.active a:after{
    border-bottom: 40px solid #d91d26;
}
.tintuc-title ul li:hover,
.tintuc-title ul li a:hover{
    background-color:#d91d26 ;
    color: #ffffff;
}
.tintuc-title ul li a{
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    border: 1px solid #d91d26;
    border-radius: 0;
}
.tintuc-title ul li a{
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 5px;
    position: relative;
    text-transform: uppercase;
    position: relative;
}
.tintuc-title ul li a:before{
    border-left: 20px solid transparent;
    border-top: 40px solid #FFF;
    content: "";
    left: -19px;
    position: absolute;
    z-index: 999;
}
.tintuc-title ul li a:after{
    border-bottom: 40px solid #FFF;
    border-right: 20px solid transparent;
    content: "";
    position: absolute;
    right: -20px;
    z-index: 999;
}

.dichvu .row .thumbnail:hover h3{
    background-color:#d91d26 ;
    color: #ffffff;
    text-decoration:none;
}
.dichvu .row .thumbnail:hover{
    border: 3px solid #d91d26;
}
.tuvankythuat h3.title{
    margin-top: 0;
}
.tuvankythuat a.title {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.tuvankythuat p.out-title {
    border-bottom: 1px solid #c9c9c9;
    font-size: 12pt;
    font-weight: bold;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.tuvankythuat p.out-title::before {
    background: #d03a48 none repeat scroll 0 0;
    bottom: -1px;
    content: " ";
    height: 2px;
    left: 0;
    position: absolute;
    width: 15%;
}
.tuvankythuat .row div img{
    margin-top: 7px;
}
.container.tuvankythuat{
    margin-top: 40px;
    margin-bottom: 40px;
}
.tuvankythuat p.cont{
    margin: 0 0 7px;
}
.tuvankythuat .main .row{
    padding-bottom: 30px;
}
.tuvankythuat .main .row:first-child{
    padding-top: 0;
}
.line-custom {
    margin-top: 30px;
    height: 2px ;
    background-color:#e2e2e2 ;
}
.tuvankythuat .main .row:last-child .line-custom{
    display: none;
}
.container.sanpham{
    margin-top: 40px;
    margin-bottom: 40px;
}
.sanpham ul li .detail{
    margin-top: 15px;
    margin-bottom: 10px;
    padding-top: 20px;
}
.sanphams ul li{
    list-style: none;
    display: block;
    margin-top: 10px;
}
.sanpham .detail .title{
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #1e1317;
}
.sanpham .detail{
    background-image: url("assets/images/icon-bot-produc.png");
    background-repeat: no-repeat;
    background-position:top center ;
}
.sanpham .price span{
    background: #d91d26 none repeat scroll 0 0;
    border-radius: 23px;
    color: #fff;
    font-size: 18px;
    padding: 2px 34px;
}
.sanpham .row > ul{
    margin-bottom: 30px;
}
.sanpham .banner img{
    margin-bottom: 20px;
}
.follow-kind a.text-center{
    padding: 0;
    color: #000000;
}
.sanpham .search-vehicle{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.sanpham .search-vehicle> h3{
    background-color: #d91d26;
    font-size: 24px;
    padding: 10px 13px;
    text-transform: uppercase;
    color: #ffffff;
    border-top-left-radius:12px ;
    border-top-right-radius:12px ;
}
.search-vehicle h4{
    font-size: 14px;
    background-color: #d91d26;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 13px;
}
.follow-size form,
.follow-kind .tab-content {
    padding: 15px 30px 15px 15px;
}
.search-vehicle select,
.search-vehicle input{
    width: 100%;
    padding:6px ;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: none;
    border: 1px solid #c9c9c9;

}

.search-vehicle .submid-vehiche {
    background: url("assets/images/icon-submid.png") no-repeat 95% 50%;
}
.search-vehicle input{
    background: url("assets/images/icon-arrow-search.png") no-repeat 95% 50%;
}
.search-vehicle .submid-vehiche {
    width: 70%;
    background-color:#d91d26 ;
    color: #ffffff;
    border: none;
}
.follow-size .select-parent{
    width: 80%;
    overflow: hidden;
}

.follow-size .select-parent{
    width:100%;
    overflow:hidden;


}

select{
    width:100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding:6px ;
    background: transparent url("assets/images/icon-arrow-search.png") no-repeat 95% 50%;
    border: 1px solid #c9c9c9;
}

.pagination li a{
    color: #000000;
}
.container-flue.form{
    background-image: url("assets/images/client-img-form.png");
    background-repeat: no-repeat;

}
.container-flue.form  input{
    background: rgba(0, 0, 0, 0) url("assets/images/icon-submid.png") no-repeat scroll 97% 50%;
    width: 100%;
    padding:6px ;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow: none;
    border: 1px solid #c9c9c9;
    margin-bottom: 65px;
}
.container-flue.form div p{
    color: #ffffff;
    padding: 60px 0 40px 0;
    text-align: center;
    font-size: 14px;
}

input::-moz-placeholder,
input::-webkit-input-placeholder{
    color: #ffffff!important;
    opacity: 0;
}
.lienlac p.description{
    font-size: 13px;
    line-height: 12px;
    margin-bottom: 0;
}
.form h3{
    color: #d91d26;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}
.form .form-lienhe input{
    width: 100%;
    padding:6px ;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: none;
    border: 1px solid #c9c9c9;
    /*background: transparent url("assets/images/icon-arrow-search.png") no-repeat 97% 50%;*/
}
.form .form-lienhe textarea.textarea{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    padding:6px ;
    box-shadow: none;
    border: 1px solid #c9c9c9;
    margin-bottom: 15px;
}
.form .form-lienhe input.submit{
    background: rgba(0, 0, 0, 0) url("assets/images/icon-submid.png") no-repeat scroll 95% 50%;
    width: 20%;
    background-color: #d91d26;
    border: none;
    color: #ffffff;
}
.container.form h5{
    color: #000000;
    font-weight: bold;
}
.container.form h6{
    font-size: 15px;
    font-weight: 400;
    margin: 16px 0;
}
.form .col-lg-4 p{
    margin-bottom: 18px;
}
.container.form{
    margin-bottom: 40px;
    margin-top: 50px;
}
.form .col-lg-4 p.des{
    margin-bottom: 30px;
}
/*single product*/
.info p.title{
    margin: 20px 0;
}
.info p.title a{
    color: #d23a49;
    font-size: 20px;
    text-transform: uppercase;

}
.info ul.row li p{
    font-size: 13px;
}
.info ul.row li{
    list-style: none;
}

.info ul.row li.loaixe p{
    background-image: url("assets/images/icon-1.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding: 10px 0 10px 45px;
}
.info ul.row li.loailop p{
    background-image: url("assets/images/icon-2.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding: 10px 0 10px 45px;
}
.info ul.row li.extreme p{
    background-image: url("assets/images/icon-3.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding: 10px 0 10px 45px;
}
.info ul.loai{
    padding-left: 0;
}
.dathang button.button, .button{
    border: 0;
    border-radius: 18px !important;
    -webkit-border-radius:18px !important;
    -moz-border-radius:18px !important;
    color: #ffffff !important;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 30px 10px 15px !important;
    text-transform: uppercase;
    background: #d91d26 url("assets/images/icon-submid.png") no-repeat 95% 50% !important;
}
.support-button{
    margin-left: 40px;
}
.support-button span{
    border-radius: 18px;
    -webkit-border-radius:18px ;
    -moz-border-radius:18px ;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 35px 7px 15px;
    text-transform: uppercase;
    background: url("assets/images/icon-arrow-right-black.png") no-repeat 95% 50%;
    border: 1px solid #d91d26;
}
.info p a:focus,
.info p a:hover{
    text-decoration: none;
}
.hieusuats ul li{
    width: 19%;
    list-style: none;
    float: left;
    margin-right: 1px;
}
.hieusuats ul{
    padding-left: 0;
    margin-bottom: 1px;
}
.hieusuats li.hieusuat{
    background-color: #e6e6e6;
    height: 45px;

}
.col-lg-12 .tab-pane{
    border: 1px solid #e6e6e6;
    padding:15px 0 ;
}
.name-attr img{
    margin-left: 17%;
}
.name-attr span{
    margin-left: 13%;
    font-size: 14px;
}
p.name-attr{
    height: 45px;
    padding-top: 12px;
    margin-bottom: 0;
}
.hieusuat ul{
    margin-bottom: 0px;
}
.hieusuat .col-inner{
    height: 45px;
    width: 100%;
}
.tab-pane {
    display: block;
}
.tab-pane >.row{
    margin-bottom: 1px;
}
.tab-pane .hieusuat-col-1 .col-inner{
    background-color: #dd171d;
}
.tab-pane .hieusuat-col-2 .col-inner{
    background-color: #e95d11;
}
.tab-pane .hieusuat-col-3 .col-inner{
    background-color: #f5a907;
}
.tab-pane .col-inner.w50{
    width: 50% !important;
}
.hieusuat-col-4 .col-inner,
.hieusuat-col-5 .col-inner {
    background-color: #fac400;
}
.text-right .wp-pagenavi a, .wp-pagenavi span{
    font-size: 15px;
    margin: 2px;
    padding: 4px 9px;
    color: #000000;
}
.wp-pagenavi span.current{
    background-color: #d91d26;
    border: 1px solid #d91d26;
    color: #fff;
}
.text-right .wp-pagenavi a.page,
span.extend{
    border: 1px solid #d91d26;
}
.text-right .wp-pagenavi a.last:hover,
.text-right .wp-pagenavi a.last,
.text-right .wp-pagenavi a.first:hover,
.text-right .wp-pagenavi a.first{
    border: none;
}
.text-right .wp-pagenavi a.first{
    background: url("assets/images/icon-pagenavi-left.png") no-repeat 0 50%;
    padding-left: 15px;
}
.text-right .wp-pagenavi a.last{
    padding-right: 15px;
    background: url("assets/images/icon-pagenavi-right.png") no-repeat 105% 50%;
}
span.extend {
    padding: 4px 7px;
}
.text-right .wp-pagenavi a,
.text-right .wp-pagenavi span{
    border-radius: 5px;
    -webkit-border-radius:5px ;
    -moz-border-radius: 5px;
}
.news-recent.top  img{
    margin-bottom: 10px;
}
.container.tintuc{
    margin-top: 40px;
}
.container.tintuc .top-banner-tintuc img{
    width: 100%;
    min-height: 200px;
    overflow: hidden;
}
.news-recent.top .wp-post-image{
    width: 100%;
}
.tuyendung .row.heading {
    margin-bottom: 20px;
}
.tuyendung .row.heading h4 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.tuyen-dung-content{
    display: none;
}
.tuyen-dung-content.active{
    display: block;
    margin-top: 45px;
}
.tuyen-dung-tab{
    margin-bottom: 7px;
    cursor: pointer;
}
.tuyen-dung-tab .container .row > div {
    line-height: 60px;
}
.tuyen-dung-tab.active {
    background: #e30013 none repeat scroll 0 0;
    color: #fff;
}
.tuyen-dung-tab .icon {
    background: url("assets/images/expand.png") no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
.tuyen-dung-tab.active .icon{
    background: url("assets/images/collapse.png") no-repeat;
}
.tuyen-dung-vi-tri {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.danh-sach-tuyen-dung{
    margin-bottom: 60px;
}
.p-breadcrumb > li {
    display: inline-block;
    padding-top: 14px;
    text-transform: uppercase;
    color: #d91d26;
    font-weight: bold;
}
.p-breadcrumb > li a{
    color: #FFF;
}
.breadcrumb-arrow {
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}
.heading-title.product-archive-title {
    margin-top: 20px;
}
.hieusuats.bottom-nav li.hieusuat {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    line-height: 30px;
    text-align: center;
}
.container.dichvu div.caption{
    padding-bottom: 20px;
}

.container-flued.submit{
    background-image: url("assets/images/client-img-form.png");
    background-repeat: no-repeat;

}
.submit div.text{
    padding-top: 70px;
    color: #FFFFFF;
    font-size: 14px;
}
.submit input:focus {
}
.submit input {
    width: 100%;
    background: url("assets/images/icon-arrow-right.png") no-repeat 97% 50%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid #a1a2a6;
    margin-bottom: 66px;
    margin-top: 30px;
    padding: 5px 15px;
    color: #FFFFFF;
}
.submit p{
    margin-bottom: 0;
}

::-webkit-input-placeholder { color:#FFFFFF; }
.submit input[type="text"]::-moz-placeholder { color:#FFFFFF;
    opacity: 1;
}
.submit input[type="text"]:-moz-placeholder {
    color:#FFFFFF;
    opacity: 1;
}
.tintuc .content p{
    font-size: 14px!important;
}
.tintuc .content {
    margin-top: 25px;
}
.tintuc nav.text-right{
    margin: 20px 0;
}
.follow-kind .nav-tabs{
    border-bottom: none;
}
.follow-kind .nav-tabs li{
    margin-bottom: 0;
}
.follow-kind .nav-tabs li img{
    max-width: 90%;
}
.follow-kind .nav-tabs > li.active > a, .follow-kind .nav-tabs > li.active > a:focus, .follow-kind .nav-tabs > li.active > a:hover{
    border: none;
    margin: 0;
}
.extreme p{
    min-height: 40px;
}
.cart_item .product-name a{
    text-decoration: none;
    color: #000000;
}
.shop_table.cart thead tr th {
    font-size: 16px;
    font-weight: bold;
}
.woocommerce >form > .shop_table{
    margin-top: 30px;
}
.woocommerce  .actions .button,
.coupon input.button{
    background-color: #d91d26;
    color: #FFFFFF!important;
}
.coupon #coupon_code{
    border: 2px solid #d91d26;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 4px;
}
.woocommerce  .actions .button:hover,
.coupon input.button:hover{
    background-color: #000000;
    color: #FFFFFF!important;
}
.cart-collaterals tbody tr{
    font-size: 17px;
}
.cart-subtotal th,
.order-total th{
    padding-right: 10px;
}
.woocommerce  .wc-proceed-to-checkout .checkout-button{
    background-color: #d91d26!important;
    color: #FFFFFF!important;
    font-size: 17px;
    margin: 16px 10px;
    padding: 10px 31px;
}

.woocommerce-billing-fields p input{
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 6px 10px;
}

.woocommerce-shipping-fields p textarea{
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 6px 10px;
}
.container .woocommerce {
    margin-top: 15px;
}
.checkout_coupon p input{
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 6px 10px;
}

.checkout_coupon .form-row.form-row-last .button{
    background-color: #d91d26!important;
    color: #FFFFFF!important;
    font-size: 17px;
    margin: -4px 10px 16px;
    padding: 10px 31px;
}
.checkout_coupon .form-row.form-row-last .button:focus,
.checkout_coupon .form-row.form-row-last .button:hover{
    background-color: #000000;
    color: #FFFFFF!important;
}
#place_order {

}
tbody .cart_item  td,
.shop_table thead tr th{
    text-align: center;
}
.woocommerce .quantity .qty {
    height: 34px!important;
    text-align: left;
    width: 4.631em!important;
    border: 1px solid #e30013;
    padding-left: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.product-name a{
    font-weight: bold;
    font-size: 14px;
}
.cart-collaterals .cart_totals{
    font-size: 16px;
    margin-right: 40px;
}
.cart-collaterals {
    padding: 10px;
    text-align: right;
   background-color: #f0f0f0;
}
.bot-cart.row ul li input,
.bot-cart.row ul li a{
    width: 155px;
    border-radius: 25px;
    border: 1px solid #e30013;
    background-color: #FFFFFF!important;
    color: #000000!important;
    text-transform: uppercase;
    background: url("assets/images/icon-arrow-right-black.png") no-repeat 95% 50%;
}
.bot-cart.row ul li input:hover,
.bot-cart.row ul li input:focus,
.bot-cart.row ul li a:hover,
.bot-cart.row ul li a:focus{
    background-color: #e30013!important;
    background: url("assets/images/icon-arrow-right-black.png") no-repeat 95% 50%;
    color: #FFFFFF!important;
}

.bot-cart.row {
    margin: 30px 0;
}
.bot-cart.row ul{
    padding-left: 46px;
    padding-right: 0;
}

.bot-cart.row ul li:last-child{
    margin-right: 0;
}
.bot-cart.row ul li{
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 30px;

}.shop_table thead th{
    text-transform: uppercase;
}
.products .text-center a {
    display: block;
}
.products .text-center a img{
    height: 170px;
    width: auto!important;
}
.woocommerce ul.products li.product a img{
    display: initial !important;
}
.return-to-shop a.button:hover,
.return-to-shop a.button:focus{
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    text-transform: uppercase;
}
.return-to-shop a.button{
    background-color: #d91d26;
    color: #FFFFFF;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    text-transform: uppercase;

}
.shop_table.cart .product-thumbnail a img{
    height: 100px;
    width: auto;
}
.woocommerce-checkout-review-order .place-order input.button:hover,
.woocommerce-checkout-review-order .place-order input.button:focus{
    background-color:#000 ;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    color: #FFFFFF;
}
.woocommerce-checkout-review-order .place-order input.button{
    background-color:#d91d26 ;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message{
    border-top: 3px solid #d91d26;
}
.header-cart-content  .header-cart-content {
    background-color: #fff;
    border: 3px solid #d91d26;
}
.header-cart-content   .mini_cart_item a img {
    height: 52px!important;
    width: auto!important;
}
.header-cart-content  .mini_cart_item a{
    float: left;
}
.woocommerce .header-cart-content  .mini_cart_item a.remove{
    margin-top: 18px;
}
.header-cart-content  .mini_cart_item a.remove{
    color: red;
    font-size: 20px;
    height: 20px;
    margin-left: 69px;
    margin-right: 57px;
    margin-top: 0;
    width: 20px;
}
.header-cart-content .buttons >a:hover,
.header-cart-content .buttons >a:focus{
    background-color: #000;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.header-cart-content .buttons >a{
    background-color: #d91d26;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.mini_cart_item span.quantity{
    color: #000000;
}
.header-cart-content  p.total{
    color: #000000;
}
.cart_list.product_list_widget .mini_cart_item{
    border-bottom: 1px solid #d6d6d6;
}
.mini_cart_item a:nth-child(2n):hover{
    text-decoration: none;
}
.mini_cart_item a:nth-child(2n){
    color: #000000;
}
.home .product-description h4{
    margin-top: 15px!important;
}
.icon-footer li {
    list-style: none;
    float: left;
}
.icon-footer ul{
    padding-left: 0px;
}
.icon-footer li a{
    color: #3a262e;
}
.icon-footer li a:hover{
    background-color: #2185e2;
    border: 1px solid #2185e2;
    color: #FFFFFF;
}
.icon-footer li a {
    border: 1px solid #3a262e;
    border-radius: 50%;
    color: #3a262e;
    display: inline-block;
    height: 37px;
    line-height: 20px;
    padding: 8px;
    text-align: center;
    width: 37px;
}
.icon-footer li a:hover i,
.icon-footer li a:focus i{
    color: #FFFFFF;
}
.icon-footer li a>i{
    font-size: 20px;
}
.footer-socials > li:first-child{
    padding-left: 0;
}
.footer-socials > li:last-child{
    padding-right: 0;
}
.footer-socials > li {
    padding: 0 16px;
}
.widget.col-md-3 ul li a:hover,
.widget.col-md-3 ul li a:focus{
    text-decoration: none;
    color: #000000;

}
.widget.col-md-3 .ul-widget-products li a{
    color: #000000;
    text-transform: capitalize;
    background: url("assets/img/icon-ok-footer.png") no-repeat left center;
    padding-left: 17px;
}
.widget.col-md-3 ul li {
    border: none;
    color: #000000;
    margin-bottom: 0;
    padding-bottom: 5px;
}
.widget.col-md-3 ul li span{
    color: #5184cd;
}
.page-template-gioithieu .container >.vc_row.wpb_row.vc_row-fluid{
    margin-top: 25px;
}
.dathang .stock.in-stock{
    display: none!important;
}
.single-product .woocommerce-message a.button:hover,
.single-product .woocommerce-message a.button:hover{
    background-color: #000;
    color: #FFFFFF;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}
.single-product .woocommerce-message a.button{
    background-color: #d91d26;
    color: #FFFFFF;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}
.test-result{
    background: url("assets/images/bkg-box-results.jpg") 100%/100%;
    width: 100%;
    min-height: 178px;
    margin-bottom: 10px;
}
#tab-ket-qua-kiem-tra{
    border: 0;
}
.test-result-company-image {
    padding: 20px 0 0 29px;
}
div.test-result .col-lg-6 {
    color: #fff;
    font-weight: bold;
    padding-top: 40px;
}
div.test-result .col-lg-6 p {
    line-height: 100%;
    margin: 0 0 2px;
}
div.test-result .col-lg-6 .test-result-date {
    font-size: 14px;
}
div.test-result .col-lg-6 .test-result-rank {
    color: #d91d26;
    font-size: 17px;
}
div.test-result .col-lg-6 .test-result-company {
    font-size: 18px;
}
div.test-result .col-lg-6 p.test-result-button {
    margin-top: 20px;
}
.test-result-image {
    margin-top: 40px;
}
div.test-result .col-lg-3.text-center {
    position: relative;
}
div.test-result .test-result-vehicle {
    bottom: -5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 100%;
}
.list-size-child {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.list-size-child > li {
    float: left;
    padding: 5px 0;
    text-align: center;
    width: 25%;
}
.panel-body.text-center .row > div{
    padding: 5px 0;
}
.panel-body.text-center .row:nth-child(1) div:nth-child(2n-1),
.panel-body.text-center .row:nth-child(3n-3) div:nth-child(2n-1),
.panel-body.text-center .row:nth-child(2n-2) div:nth-child(2n-2){
    background: #f0f0f0;
}
.panel-title-kich-thuoc a {
    color: #000;
    font-family: "Myriad Pro";
    font-size: 23.98px;
    font-weight: bold;
}
.kich-thuoc-title {
    border-bottom: 2px solid #d2d2d2;
    display: block;
    width: 95%;
    float: left;
    padding-bottom: 11px;
}
.kich-thuoc-icon{
    background: url("assets/images/accordion-arrow-top.png");
    display: block;
    width: 40px;
    height: 39px;
    float: right;;
}
.collapsed .kich-thuoc-icon{
    background: url("assets/images/accordion-arrow-bottom.png");
}
.tab-kich-thuoc .panel {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 20px;
}
#tab-kich-thuoc{
    border: none;
}
.panel-collapse {
    float: left;
    width: 100%;
    padding: 10px 0;
}
.panel.kich-thuoc {
    float: left;
    margin-bottom: 15px;
    width: 100%;
}
.sanphamtuongtu {
    float: left;
    margin-top: 40px;
    width: 100%;
}
.widget_knews_widget h2.widget-title{
    display: none!important;
}
.widget_knews_widget .knewsbutton{
    display: none!important;
}
.knewsform_container .response >p{
    color: #e50013!important;
    text-align: center!important;
    font-size: 17px;
}
.container-fluid{
    padding-left: 0!important;
    padding-right: 0!important;
}
.ul-widget-info .pr-img a img{
    height: 110px;
}
.tab-content.news-recent .img img{
    height: 200px;
}
.test-result-detail-item{
    display: none;
}
.img-active {
    display: none;
}
li.active .img-not-active{
    display: none;
}
.device a:hover{
    color: #337ab7;
}
.device a{
    color: #000000;
    text-decoration: none;
}
.detail >div{
    padding-top: 8px;
}
.follow-kind  a span.name{
    color: #000;
}
.follow-kind .active a span.name{
    color: #e30013;
}
.container.dichvu .row >div{
    min-height: 320px;
}
.widget .search{
    display: block;
}
.single .breadcrumbs .column.text-right{
    text-align: left;
}
.icon-footer .footer-socials li:nth-child(4n){
    padding-right: 0!important;
}
.form-lienhe div.wpcf7 .screen-reader-response{
    float: left !important;
    height: auto !important;
    position: relative !important;
    width: 100% !important;
    line-height: 45px;
    margin-bottom: 20px;
    padding: 0 10px;
    /*border: 1px solid #e30013;*/
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;

}
.wpcf7 .screen-reader-response>ul{
    display: none!important;
}
.bot-cart.row >ul li:nth-child(4n){
    margin-right: 0;
}
.breadcrumbs .row > .col-lg-8.col-md-8{
    padding-top: 4px;
}
.breadcrumbs .row > .col-lg-6.col-md-6{
    padding-top: 4px;
}
.search-vehicle .nav.nav-tabs li{
    padding: 5px 2px;
}
.search-vehicle .nav > li > a {
    display: block;
    padding: 10px 0;
    position: relative;
}